<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/global.js"></script>
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>Example App</title>
</head>
<body>
    
    {{{body}}}

</body>
</html>